.chip {
  border: 1px solid #ccc;
  border-radius: 6px;
  display: inline-block;
  padding: 4px;
}
.form-row {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}
.form-row * {
  flex: 0 0 auto;
}
